:root{
    --azul:#0077B6;
    --azulclaro:#00B4D8;
    --azulescuro:#03045E;
    --azulmaisclaro:#90E0EF;
    --azulceu:#CAF0F8;
    --branco:#fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--branco);
    font-family: 'Times New Roman', Times, serif;
    
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--azulescuro);
    padding-top: 10px;
    padding-bottom: 10px;
}

header .logo {
    margin-left: 10px;
    color: white;
    font-family: 'Arial Black ';
    font-size: 40px;
}

header nav a {
    text-decoration: none;
     color: var(--azulmaisclaro);
     margin-right: 10px;
}

header nav a:hover {
    color: white;
}

.banner-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(../img/petrobras.png);
    height: 400px;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.banner-principal .descricao {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 40px;
}

.titulo {
    margin-top: 15%;
    margin-left: 20px;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .5s ease all;

}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 5px;
}

.banner-principal .container {
    width: 60%;
    margin-left: 10px;
}

.box-empresas {
    height: 100%;
    width: 100%;
    display: block;
}

.carrossel-empresas {
    margin-top: 5px;
}